# Placeholder file for environment variables
API_AUTH_REQUIRED=false
KEYCLOAK_URL=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
HOST=localhost
CONTAINER_EXPOSE_PORT=8888
NODE_ENV=production
NODE_OPTIONS="--no-warnings --max_old_space_size=1024"
