        </main>
        <footer class="container-fluid p-3 m-0 text-center text-light bg-secondary" role="contentinfo">
            <address class="font-weight-bold">
                Copyright &copy; <%= new Date().getFullYear() %> Darth CAV. All rights reserved.
            </address>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
</body>
</html>
